body {
    width: 500px;
    margin: auto;
    font-size: 16px;
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1em;
}

.center {
    text-align: center;
}

input {
    height: 40px;
    width: 100%;
    padding: .5em;
    border-radius: .5em;
    font-size: 2em;
    margin-top: 1em;
    color: gray;
}

a {
    text-decoration: none;
}

.gmail {
    font-size: 20px;
}

footer a {
    color: gray;
    margin: .5em;
}

.float-r {
    float: right;
}

button {
    border-radius: .5em;
    padding: 0 1em;
    background-color: blue;
    color: white;
    font-weight: bold;
    float: right;
}

.margin {
    margin: 2em;
}

.gray {
    color: gray;
}

select {
    margin: 1em;
}

main a {
    font-weight: bold;
}
img {
    width: 70px;
}