html {
    height: 100%;
}

body {
    font-family: 'Gill Sans';
    height: 100%;
}

main {
    height: 100%;
}

header, main, nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: crimson;
    width: 100%;
    height: 200px;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.middle {
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

.side {
    width: 200px;
    height: 100%;
    background-color: lightcoral;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

span {
    background-color: crimson;
}

footer {
    background-color: crimson;
    height: 100px;
    width: 100%;
}

nav {
    background-color: lightsalmon;
}

main img {
    width: 500px;
}

header img {
    height: 200px;
}

.column {
    width: 50%;
    text-align: center;
}

