body {
    font-family: 'OfficinaSansDOSCTT';
}

span {
    color: red;
}

input {
    width: 100%;
    border-radius: .25rem;
    font-size: 12px;
    margin: .5rem;
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1rem;
    width: 400px;
}

header, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

button {
    background-color: goldenrod;
    width: 100%;
}

span a {
    color: green;
}

a {
    text-decoration: none;
}

strong a {
    color: red;
}

legend {
    margin: 1rem;
}

.line {
    border-bottom: 1px solid black;
}