body {
    font-family: 'chalkduster', cursive;
    color: white;
}

header {
    background-color: #3a966b;
    display: flex;
    justify-content:space-between;
    padding: 2rem;
}

h2 {
    color: rgb(21,211,37);
}

img {
    transition: 1s;
}

img:hover {
    transform: rotate(-10deg);
    opacity: 0.5;
}

.center {
    text-align: center;
}

nav {
    background-color: rgb(12,42,175);
    text-align: center;
}

nav * {
    margin: 0;
    padding: 0;
}

#menu > li {
    display: inline-block;
    padding: 1rem;
}

#menu a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

#menu a:hover {
    color: rgb(145,6,6);
}

nav ul {
    list-style: none;
}

.submenu {
    background-color: rgb(25,181,192);
    border-radius: .5rem;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    padding: 1rem;
    margin: .5rem 0;
    position: absolute;
}

.submenu li:hover {
    background-color: rgb(143,142,142);
    border-radius: 20px 5px;
}

#menu li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.submenu li {
    position: relative;
}

.submenu .submenu {
    top: 0;
    left: 80px;
}

main {
    background-color: #3a966b;
}

main ul {
    padding: 0;
    list-style: none;
}

.subrayado {
    border-bottom: 2px dotted yellow;
}

#fechas {
    padding: 2rem;
    width: fit-content;
}

footer {
    background-color: black;
    text-align: center;
    padding: 2rem;
}


