body{
    background: rgb(255,249,194);
    font-family: 'Dancing Script', cursive;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(190,190,190);
    height: 100px;
    font-size: 35px;
}

ul{
    box-shadow: 0 0 5px 2px;
    background: rgb(149,149,149);
    list-style: none;
    margin: 0;
    padding: 1rem;
}

#menu li{
    padding: 1rem 2rem;
}

#menu > li{
    display: inline-block;
}

#menu a{
    text-decoration: none;
    color: black;
    transition: 1s;
}

#menu a:hover{
    color: orange;
    text-shadow: 5px 5px 2px #212121;
}

.submenu{
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 5px 0 orange;
    border-radius: 1rem 50%;
    padding: 1rem;
    margin: 1rem;
    transition: 1s;
    position: absolute;
}

#menu li:hover > .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu li{
    position: relative;
}

.submenu .submenu{
    top: 0;
    left: 75px;
    box-shadow: 0 0 5px 0 red;
    border-radius: 50% 1rem;
}

@media (max-width: 900px){
    body{
        background: rgb(255,185,160);
    }

    nav{
        display: block;
        height: 250px;
    }

    ul{
        display: inline-block;
    }

    #menu>li{
        display: block;
    }
}
