header {
    text-align: center;
}

h1 {
    background-color: lightblue;
    color: white;
    font-size: 90px;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    font-size: 40px;
}

tr {
    text-align: center;
}

tr th {
    background-color: lightblue;
    color: white;
    border: 1px double black;
    padding: 1rem;
}

tr td {
    border: 1px double black;
    padding: 1rem;
}