body {
    background-color: lightgray;
    margin: auto;
    /*34 px más por la suma de los 16px de cada lado de padding más 1px de cada lado de borde*/
    width: 334px;
    font-size: 16px;
}

header {
    text-align: center;
}

img {
    width: 100px;
    margin: 2em;
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1em 1em 2em 1em;
    background-color: white;
    width: 300px;
}

.margin {
    margin: 1em;
}

button {
    background-color: blue;
    color: white;
    float: right;
    height: 40px;
    padding: 0 1em;
    border-radius: .5em;
}

a {
    text-decoration: none;
}

footer a {
    color: gray;
}

.links {
    float: left;
}

.login-inputs{
    height: 40px;
    width: 100%;
    border-radius: .5em;
}

label {
    color: gray;
}