/* PARA TODAS LAS PÁGINAS */

/* HTML */

/* Tipo y tamaño de letra del HTML */
html {
  font-family: "open sans";
  font-size: 20px;
}

/* HEADER*/

/* Fondo del header
display hace que los elementos del div se alineen */
header {
  background-color: #216288;
  display: flex;
}

/* Aplicado al h1 del header para hacerlo más grande y de color blanco */
.title {
  font-size: 2.5rem;
  color: white;
  font-family: "fjalla one";
}

/* Cambia la fuente y la alineación del subtítulo del header */
.subtitle {
  font-family: "fjalla one";
  text-align: right;
}

/* Aplicado a cada item del header para darle espaciado */
.header-item {
  padding: 1.25rem;
}

/*Tamaño de la imágen del header*/
.logo {
  height: 100%;
  max-height: 250px;
}

/* NAV*/

/* En el apartado del nav:
text-align: para centrar el texto
padding: para el espaciado de arriba y abajo
background-color: color del fondo */
nav {
  text-align: center;
  padding: 1.5rem;
  background-color: #b8d414;
}

/* Alinea al centro los items del nav */
.div-nav {
  display: inline-block;
}

/* Quita los puntos de la lista */
nav ul li {
  list-style: none;
}

li {
  float: left;
}

/* Para los items del nav:
padding: espaciado de los lados
font-weight: negrita a la letra
color: color de la letra(porque los links por defecto se ponen azules
text-decoration: le he quitado el subrayado que tienen por defecto los links
font-famyly: cambia la fuente de la letra
font-size: cambia el tamaño
transition: hace que dure un 1s la transición del hover*/
.nav-item {
  padding: 0 0.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: "fjalla one";
  font-size: 1.2rem;
  transition: 1s;
}

/* Cambia a blanco el color de los items del nav cuando pasas el ratón por encima */
.nav-item:hover {
  color: white;
}

/* Le añade subrayado al link de la sección de la página en la que se encuentra */
.nav-item.active {
  text-decoration: underline;
}

/* FOOTER*/

/* En el apartado del footer:
background-color: color del fondo
color: color de la letra */
footer {
  background-color: black;
  color: white;
}

/* -----------------------------------**------------------------ */

/*CLASES USADAS EN DISTINTOS ELEMENTOS DE TODAS LAS PÁGINAS*/

/* Centra el texto del item que lleve esta clase */
.text-center {
  text-align: center;
}

/* Proporciona un ancho del 50% al item que lleve esta clase  */
.w-50 {
  width: 50%;
}

/* Impide que se desborden las imágenes de la sección*/
.overflow {
  overflow: hidden;
}

/* CONTENEDOR */

/*margin: auto centra el contenido de la sección
padding de la parte de arriba y de abajo
max-width: ancho máximo de la sección */
.container {
  margin: auto;
  padding: 3rem;
  max-width: 1140px;
}

/* Flota el elemento a la izquierda */
.float-l {
  float: left;
}

/* Flota el elemento a la derecha */
.float-r {
  float: right;
}

/* Cambia a color gris la letra del objeto que contenga esta clase */
.a {
  color: gray;
}

/* Cambia el tamaño del texto del objeto al que se le añada esta clase en función del tamaño del texto del html y cambia la fuente*/
.section-title {
  font-size: 1.8rem;
  font-family: "fjalla one";
}

/* -----------------------------------**------------------------ */

/* INDEX*/

/* SECCIÓN 1*/

/* Cambia el tamaño del texto de la sección 1 */
.text-section-uno {
  font-size: 1.2rem;
  text-align: justify;
}

/* Ajusta el tamaño del vídeo */
video {
  width: 500px;
  height: 300px;
  padding-left: 1.5rem;
}

/* SECCIÓN 2*/

/* Cambia el fondo de la sección 2 a verde */
.section2 {
  background-color: #e5fed4;
}

/* Espaciado de la derecha de la sección 2 de index*/
.padding-right-index-section2 {
  padding-right: 13.5rem;
}

/* Genera un borde en la parte de abajo del objeto al que se le añada esta clase */
.subrayado-punteado {
  border-bottom: 6px dotted #b8d414;
}

/* Le quita el subrayado a los iconos y le cambia la letra a color negro */
.icon {
  text-decoration: none;
  color: black;
}

/* Modifica el tamaño y hace negrita el texto de la inscripción de la sección 2 */
.inscripcion {
  font-size: 1.3rem;
  font-weight: bold;
}

/* SECCIÓN 3*/


/* Hace que las imágenes floten y les fija un ancho del 33.33%*/
.img-p {
  float: left;
  width: 33.33%;
}
/* Ajusta el ancho y el alto de las imágenes que llevan esta clase */
.img-eventos {
  width: 350px;
  height: 200px;
}


/* -----------------------------------**------------------------ */

/* PROGRAMACIÓN*/

/* SECCIÓN 1: TABLA*/

/* Cambia el color de fondo, el color de la letra y el tamaño del título de la tabla */
caption {
  background-color: black;
  color: white;
  font-size: 1.25rem;
}
/* Cambia el color de fondo y el tamañado de la letra de los títulos de la cabecera de la tabla */
thead {
  background-color: #b8d414;
  font-size: 0.75rem;
}
/* Cambia el color de fondo de las filas de la tabla que lleven esta clase */
.td {
  background-color: #cae9ab;
}
/* Cambia el tamaño de la letra de la tabla */
tbody {
  font-size: 0.75rem;
}
/* Cambia el tamaño de la letra del foot de la tabla */
tfoot {
  font-size: 0.9rem;
}
/* Añade espacio al las filas de la tabla de la parte de taller */
.td-taller {
  padding-right: 7.5rem;
}
/* Añade espacio a las filas de la tabla de la parte del ponente */
.td-ponente {
  padding-right: 1.5rem;
}
/* Añade espacio a las filas de la tabla de horario, ubicación y fecha */
.td-fhu {
  padding-right: 1.25rem;
}
/* Separa la parte del 3 de abril de la del 4 de abril */
.separacion-tabla {
  border-bottom: 1px solid black;
}

/* SECCIÓN 2*/

/* Cambia el tamaño y la fuente de los h3 de la sección 2 */
.section-subtitle {
  font-family: "fjalla one";
  font-size: 1.3rem;
}

/* Resalta los h3 en color verde */
mark {
  background-color: #bdfc80;
}

/* Espacio de la derecha de la sección 2 de programación */
.padding-right-programacion-section2 {
  padding-right: 10rem;
}

/* Espacio de la izquierda de la sección 2 de programación */
.padding-left-programacion-section2 {
  padding-left: 10rem;
}

/* -----------------------------------**------------------------ */

/* INSCRIPCIÓN: FORMULARIO*/

/* Tamaño de la letra de los labels de los checkbox*/
.label-checkbox {
  font-size: 0.75rem;
}

/* Fija al elemento textarea un ancho y un alto*/
textarea {
  width: 400px;
  height: 150px;
}

/* Añade al div contenedor del form un borde y un espaciado*/
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 2rem;
}

/* Le quita el borde al fieldset y le añade espaciado en la parte superior y margen en la parte inferior*/
fieldset {
  border: none;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

/* convierte el label en un elemento inline-block y le añade un margen a la parte inferior*/
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

/* Ajusta los input en bloque, cambia el tamaño de la fuente, les da un ancho del 100%, un espaciado cambia el tipo de fuente y cambia el borde*/
.control {
  display: block;
  font-size: 1rem;
  width: 100%;
  padding: .5rem .25rem;
  font-family: "open sans";
  border: 1px solid #ced4da;
}

/* Le añade espaciado a los elemento de las columnas*/
.column {
  padding: 0 1rem;
  width: 45%;
}

.row {
  overflow: hidden;
  margin-bottom: 1.3rem;
}

/* Le cambia el tipo y el tamaño de fuente a la leyenda del formulario*/
legend {
  font-family: "fjalla one";
  font-size: 1.5rem;
}

/* Le da estilo al botón del submit*/
.submit {
  height: 70px;
  font-size: 1.5rem;
  border-color: #bdfc80;
  border-radius: 0.3rem;
  border-width: 0.2rem;
  border-style: outset;
}

/* Le da estilo al botón para subir una foto*/
.file-check {
  padding: 1rem;
}

/* Cambia el tamaño de la letra del párrafo debajo del input múltiple */
.p {
  font-size: .75rem;
}

/* Pone de color verde los inputs con campos válidos*/
input:valid {
  border-color: #28a745;
}

/* Pone de color verde los select con campos válidos */
select:valid {
  border-color: #28a745;
}

/* Pone de color verde los textarea con campos válidos */
textarea:valid {
  border-color: #28a745;
}

/* Pone de color rojo los inputs con campos invalidos */
input:invalid {
  border-color: #dc3545;
}

/* Pone de color rojo los select con campos invalidos */
select:invalid {
  border-color: #dc3545;
}

/* Pone de color rojo los textarea con campos invalidos */
textarea:invalid {
  border-color: #dc3545;
}
