h1 {
    font-size: 30px;
    color: lightseagreen;
}

caption {
    color: rgb(187, 109, 8);
    font-size: 20px;
    font-weight: 600;
}

th, tfoot, td {
    background-color: rgb(51,185,91);
    color: white;
}

td, th {
    border: 1px solid white;
    padding: .5rem;
}

table {
    border-collapse: collapse;
    border: 2px groove gray;
    width: 100%;
    margin: 3rem auto;
    text-align: center;
}

span {
    background-color: lightcoral;
    border: 2px dashed red;
}

tr:nth-child(even) {
    background-color: rgb(235,228,228);
}

tr:nth-child(odd) {
    background-color: rgb(212,243,212);
}

tr {
    text-align: center;
}