header {
    text-align: center;
}

h1 {
    color: blue;
}

main {
    display: flex;
    justify-content: center;
}

table {
    border: 4px solid black;
    border-radius: 1rem;
    padding: 2px;
}

tr th {
    background-color: black;
    border: 1px solid red;
    color: green;
}

tr td {
    border: 1px solid red;
}
