body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
    font-size: large;
}
img {
    padding: 50px;
}
a {
    color: red;
}
p {
    background-color: dimgray;
    padding: 20px;
    margin: 100px 400px 100px 400px;
}
h2 {
    margin: 50px;
}