body {
    text-align: center;
}
h1 {
    border: solid olive;
    background-color: lightgray;
    padding: 20px;
    margin: 50px 300px 50px 300px;
}
img {
    border: solid olive;
    padding: 20px;
    margin: 40px;
}