header{
    background: cadetblue;
    color: white;
    text-align: center;
}

main{
    display: flex;
    justify-content: center;
}

table{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

thead tr{
    background: cadetblue;
    color: white;
}

th, td{
    border: 1px solid black;
    padding: 1rem;
}

