* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Redressed', cursive;
    font-size: 2rem;
}

nav {
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}

#menu > li {
    display: inline-block;
}

#menu li {
    padding: 2rem;
}

nav ul {
    background-color: black;
    list-style: none;
}

#menu a {
    color: white;
    text-decoration: none;
    transition: 1s;
}

.submenu li:hover {
    background-color: grey;
    border-radius: .5rem;
}

#menu a:hover {
    color: orange;
    cursor: grab;
}

#menu a:active {
    cursor: grabbing;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    max-width: 263px;
    border-radius: .5rem;
    box-shadow: 0 0 5px 3px orange;
    text-align: left;
    margin: 1rem 0;
    padding: 20px;
    transition: 1s;
}

#menu li:hover>ul {
    visibility:visible;
    opacity: 1;
}

.submenu li {
    position: relative;
}

.submenu .submenu {
    left: 250px;
    top: 30px;
}

main {
    margin: 2rem;
    font-weight: bold;
    text-align: center;
}