/* No borrar la siguiente regla CSS porque es necesaria para ver los bordes de la tabla */

table,
tr,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

h1 {
  color: teal;
}

strong {
  color: red;
}

.destacado {
  color: orange;
}

h2 {
  color: blue;
}

a {
  color: red;
}

p span {
  color: purple;
}

caption {
  color: blue;
}

thead th {
  color: orange;
}

tfoot th {
  color: red;
}

td {
  color: green;
}

tbody tr th.especial {
  color: orange;
}

tbody tr th {
  color: red;
}

td em {
  color: green;
}

td strong {
  color: orange;
}

#adicional {
  color: olive;
}

#especial {
  color: fuchsia;
}

#adicional p a {
  color: green;
}

em {
  color: blue;
}
