/* COMUNES */

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

header, footer {
    background-color: black;
    color: #4cb050;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    justify-content: space-around;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/fondo.jpg);
}

footer {
    flex-direction: column;
}

/* HEADER */

h1 {
    font-size: 60px;
}

header div label {
    color: white;
    font-style: italic;
}

input {
    border-radius: .5rem;
    width: 400px;
    margin: 1rem 0;
    padding: .75rem 1rem;
}

#busqueda {
    margin: 1rem 0;
}

button {
    border-radius: .5rem;
    color: white;
    background-color: #4cb050;
    padding: .75rem 1rem;
    width: 436px;
}

/* MAIN */

img {
    width: 240px;
}

.pokemon {
    background-color: lightgrey;
}

.pokemon:hover img {
    width: 365px;
}

.pokemon:hover p {
    font-size: 40px;
}

.pokemon:hover {
    position: absolute;
    bottom: -82px;
    left: -63px;
    box-shadow: 5px 10px 5px 0;
    z-index: 5;
}

#galeria p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4cb050;
    text-decoration: underline;
    font-size: 25px;
}

.margen {
    background-color: lightgrey;
    margin: 1rem;
}

.contenedor-columna {
    flex-basis: 25%;
    position: relative;
}

.container {
    width: 960px;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    transition: all 1s;
}

.modal-contenido {
    background-color: #4cb050;
    width: 750px;
    padding: 20px;
    margin: 20% auto;
    position: relative;
}

#miModal:target {
    display: block;
}

.modal-contenido p, h2 {
    color: white;
}

#nombre {
    text-transform: uppercase;
    font-family: helvetica;    
}

.modal-contenido p {
    font-size: 29px;
}

.resaltado {
    background-color: #faa610;
    border-radius: .5rem;
    padding: .5rem;
}

.modal-contenido a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 40px;
}

#descripcionPokemon {
    margin: 0 2rem;
}

#descripcionPokemon > p {
    line-height: 3rem;
}

#imagenPokemon {
    background-image: url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png);
    border-radius: 50%;
    box-shadow: inset 0 0 10px 0;
    background-color: lightgrey;
    width: 270px;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
}