.center {
    text-align: center;
}

span {
    color: red;
}

table {
    border-collapse: collapse;
    margin: 1rem auto;
    width: 100%;
    box-shadow: 0 0 10px -2px;
}

thead, tr {
    text-align: center;
}

th {
    background-color: green;
    color: white;
}

td {
    background-color: ivory;
}

td, th {
    border: 1px solid black;
    padding: 1rem;
}

tr:nth-child(4) {
    border: 2px dashed lightblue;
}

.precios {
    border: 3px ridge gray;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.5rem;
}

.list-style {
    list-style: none;
}

.bold {
    font-weight: bold;
    margin-bottom: .5rem;
}

button {
    padding: .5rem;
    border-radius: .5rem;
background: linear-gradient(green,lightgreen, white, lightgreen, green);
}

button a {
    text-decoration: none;
    color: black;
}

ul {
    line-height: 1.5rem;
}

.column {
    width: 50%;
}

.right {
    text-align: right;
}