body {
    width: 300px;
    margin: auto;
    margin-top: 200px;
    font-size: 14px;
}

img {
    width: 70px;
}

input {
    outline: 0;
    border-width: 0 0 1px;
    width: 100%;
    color: gray;
    font-size: 16px;
}

.card {
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1em;
}

a {
    text-decoration: none;
}

button {
    background-color: blue;
    color: white;
    padding: .5em 1em;
    font-size: 16px;
    float: right;
    margin: 1em 0;
}