/* CLASES COMUNES A TODO EL BODY */

body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-variant: small-caps;
}

/* Centra el contenido del div */

.centrado {
    justify-content: center;
    align-items: center;
}

/* Alinea los divs en filas */

.flex {
    display: flex;
}

/* Alinea los divs en columnas */

.column {
    flex-direction: column;
}

/* Alinea los divs con un espacio en medio */

.space-between {
    justify-content: space-between;
}

/* Alinea los divs con un espacio entre ellos */

.space-around {
    justify-content: space-around;
}

/* No permite que el contenido se salga del contenedor */

.wrap {
    flex-wrap: wrap;
}

/* Centra el contenido */

.center {
    text-align: center;
}

/* Alinea a la derecha el contenido */

.right {
    text-align: right;
}

/* Quita las decoraciones y pone el color de letra a negro (Usado para quitar el subrayado de los links) */

.decoration {
    text-decoration: none;
    color: black;
}

/* Tamaño de letra de 18px */

.font-size2 {
    font-size: 18px;
}

/* Margen */

.margen {
    margin: 3rem;
}

/* MEDIA QUERY */

@media (max-width: 800px) {
    /* NAV */
    /* Cambia el color del menú de navegación y alinea el menú a la izquierda */
    nav #navegador {
        background: linear-gradient(to right, ivory, #b79780, #855443, #6b3022);
        box-shadow: 0 2px 7px 2px;
        margin-bottom: 1.5rem;
        text-align: left;
        height: auto;
    }
    /* Dispone el menú en vertical */
    nav ul li {
        display: block;
        margin: 3em 1em;
    }
    /*INDEX*/
    /* Cambia el tamaño de las cajas de las sugerencias */
    /* CAJA EXTERIOR */
    main .cajaExterior {
        border: 1px solid rgb(0, 0, 0, 0.125);
        box-shadow: 0 0 10px -5px;
        border-radius: 1rem;
        text-align: center;
        height: 415px;
        width: 330px;
        font-size: .85rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* CAJA INTERIOR */
    main .cajaInterior {
        border: 1px solid rgb(0, 0, 0, 0.25);
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        height: 350px;
        width: 300px;
    }
    /*EQUIPO*/
    /* Cambia el tamaño de las citas */
    .size blockquote {
        font-size: 15px;
    }
    /* Cambia el interlineado de las citas */
    /* Hace el borde azul más pequeño */
    main .size .blueborder, .size .blueborder2 {
        padding: 0.125rem 1rem 0.125rem 2rem;
    }
    /* Cambia el tamaño de las firmas de las citas */
    .size address {
        font-size: 12px;
    }
    /* CARTA */
    main .carta #menuDiario {
        margin-bottom: 10em;
    }
}


/*HEADER*/

header {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

/* LOGO */

#logo {
    transition: 1s;
    position: relative;
    top: 30px;
    width:350px;
}

#logo:hover {
    transform: rotate(-10deg) scale(1.15);
    opacity: 0.5;
}

/* Posición del banner y el descuento */

.posicion-descuento {
    z-index: 5;
    position: fixed;
    right: 0;
    top: 40px;
}

/* BANNER: forma, color, sombreado, tamaño, duración de la animación del hover.*/

.banner {
    border-radius: 40% 0 0 40%;
    border: 1px solid rgb(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 0;
    background: linear-gradient(#f97238, #fba87c, #fbcba7, #fba87c, #f97238);
    width: 30px;
    height: 150px;
    transition: 1s;
}

/* Baja la opacidad del banner y sobresale un poco al pasar el ratón */

.banner:hover {
    opacity: 0.5;
    width: 40px;
}

/* Oculta el descuento */

.descuento {
    display: none;
}

/* DESCUENTO: fondo, forma, tamaño, tiempo de animación del hover, borde, sombreado */

.contenido-descuento {
    background-image: url(../img/cuponDescuento.jpg);
    background-size: cover;
    border-radius: 1rem 0 0 3.5rem;
    width: 210px;
    height: 150px;
    transition: 1s;
    border: 1px solid rgb(0, 0, 0, 0.125);
    box-shadow: 0 0 10px 0;
}

/* Muestra el descuento */

#descuento:active .descuento {
    display: block;
}

/* Oculta el banner */

.banner:active {
    display: none;
}

/* quita subrayado al link y pone de color negro a los links de la cabecera */

header a {
    text-decoration: none;
    color: black;
}

/* TOOLTIP: visibilidad, tamaño, fondo, color de letra, forma, posición */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    border-radius: .5em;
    border-right: 2px ;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
    position: absolute;
    top: 40px;
    right: 110%;
    padding: .5em;
    font-size: 20px;
}

/* Forma y posición de la flecha */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Muestra el tooltip al pasar el ratón por encima */

.banner:hover .tooltiptext {
    visibility: visible;
}

/*NAV*/

nav {
    font-size: 20px;
}

/* Margen de las fotos del navegador */

#fotos-nav {
    margin: 0 30px 0 30px;
}

/* Posición de la foto michelin para que el brazo quede por encima del navegador */

#michelin {
    position: relative;
    top: 30px;
    width:250px;
}

/* Posición y tamaño de la foto del covid */

#covid {
    position: relative;
    top: 15px;
    width: 160px;
    height: 160px;
}

/* Menú de navegación: color, sombreado, alineación, margenes */

#navegador {
    background: linear-gradient(to right, #6b3022, #855443, #b79780, ivory, #b79780, #855443, #6b3022);
    box-shadow: 0 1px 5px 0;
    text-align: center;
    margin-bottom: 1.5rem;
    height: 67px;
}

nav ul {
    margin: .5em;
}

/* Muestra el navegador en horizontal con separación entre los enlaces */

nav li {
    display: inline-block;
    margin: .5em 2.5em;
}

/* Enlaces del menú de navegación: color, subrayado quitado, tiempo animación del hover */

li a {
    color: black;
    text-decoration: none;
    transition: 1s;
}

/* Subrayado, negrita y letra más grande al pasar el ratón por encima */

li a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.125em;
}

/* distancia entre los enlaces de las redes sociales */

#social-media {
    margin: 0 45px 0 45px;
}

/* Enlaces a las redes sociales: subrayado quitado, margenes, tamaño iconos, tiempo animación del hover */

#social-media a {
    text-decoration: none;
    margin: .5rem;
    font-size: 23px;
    transition: 1s;
}

/* Menos opacidad al pasar el ratón por encima */

#social-media a:hover {
    opacity: 0.5;
}

/* Colores de los iconos */

.lightblue {
    color: #04a0ea;
}

.blue {
    color: #4c466a;
}

.red {
    color: #b62f2c;
}

.purple {
    color: #6e4f92;
}

.pink {
    color: #d24452;
}

/* Color del teléfono */

.orange {
    color: #ff8d48;
}

/*FOOTER*/

/* Fondo, color de la letra, tamaño de la letra, letra centrada, padding y ancho */

footer {
    background: #2e2e2e;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 3.5rem 0 2rem 0;
    width: 1920px;
}

/* Barras separadoras */

.bordes {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

/* Color de letra rojo */

.brightred {
    color: red;
}

.padding {
    padding: 0 6.5em;
}

/* Margen del apartado del copyright */

#copyright {
    margin-top: 5rem;
}

/* Tamaño letra y color de los titulos de los apartados */

.titulo-footer {
    font-size: 1.25em;
    color: #e3a730;
}

/*MAIN*/

/* Contenedor para centrar el contenido */

.container {
    margin: auto;
    max-width: 1465px;
    padding: 5rem;
}

/* Encabezado de primer nivel: color y grosor */

h1 {
    color: steelblue;
    font-weight: lighter;
}

/* Borde azul de las citas */

.blueborder {
    border-left: 5px solid steelblue;
    padding: .125rem 0;
}

/* Encabezado de 2º nivel: color, grosor y tamaño */

h2 {
    color: steelblue;
    font-weight: lighter;
}

/* Tamaño y estilo de la letra de la cita */

blockquote {
    font-size: 27px;
    font-style: italic;
    quotes: "“" "”" "‘" "’";
}

/* COMILLAS */

blockquote:before {
    content: open-quote;
}

blockquote:after {
    content: close-quote;
}

/* Padding entre la firma y el separador */

.address {
    padding-bottom: 3rem;
}

/* FIRMA: color, padding, estilo de la fuente */

address {
    color: gray;
    padding: 2em;
    font-style: normal;
    font-size: 20px;
}

/*INDEX*/

/* Foto con scroll */

.caja {
    background-image: url(../img/index/fr1_nigirisushi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    border: 1px solid black;
    box-shadow: inset 0 0 30px 5px;
}

/* SEPARADOR: tamaño y color */

.separadorCita {
    height: 5px;
    width: 40%;
    background-color: black;
}

/* Sombra de la foto del apartado de envío */

#delivery {
    box-shadow: 0 0 10px 0;
    width:350px;
}

/* Posición del texto: margenes, centrado, padding ancho */

.delivery {
    margin: 5.75rem 4rem 0 4rem;
    text-align: center;
    width: 55%;
}

/* Texto justificado, tamaño fuente margen entre el texto y el encabezado */

#envio {
    text-align: justify;
    font-size: 16px;
    margin-top: 2.5em;
}

/* CAJA EXTERIOR: de las sugerencias: bordes, sombreado, redondeo de esquinas, centrado, tamaño, tamaño fuente, margenes, posicionado de las cajas de dentro y el texto */

.cajaExterior {
    border: 1px solid rgb(0, 0, 0, 0.125);
    box-shadow: 0 0 10px -5px;
    border-radius: 1rem;
    text-align: center;
    height: 440px;
    width: 210px;
    font-size: .85rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaExterior:hover {
    opacity: 0.5;
}

/* Márgenes de los párrafos de las cajas */

.cajaExterior p {
    margin-top: 0;
    margin-bottom: .25em;
    font-size: 15px;
    padding: 0 1em;
}

/* CAJA INTERIOR: borde, redondeado esquinas, disposición del fondo, margen inferior, tamaño */

.cajaInterior {
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: .5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
    height: 365px;
    width: 180px;
}

/* Fondos de las cajas */

.fondo1 {
    background-image: url(../img/index/superBento.jpg);
}

.fondo2 {
    background-image: url(../img/index/besoDragon.jpg);
}

.fondo3 {
    background-image: url(../img/index/bentoFantasia.png);
}

.fondo4 {
    background-image: url(../img/index/gambasMoriwase.jpg);
}

.fondo5 {
    background-image: url(../img/index/miniBento.jpg);
}

.fondo6 {
    background-image: url(../img/index/atunPicante.jpg);
}

/*EQUIPO*/

/* Disposición de la galería de imágenes con grid */

.grid {
    display: grid;
    grid-template-areas: 'm1 m1 m1 m3 m3 m3 m4 m4' 'm2 m2 m2 m3 m3 m3 m5 m5';
    grid-gap: 10px;
    width: 80%;
    margin: 3rem auto;
}

/* Disposición de los fondos de la galería, redondeado de esquinas, sombreado y bordes */

.fondo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    box-shadow: 0 0 10px 0;
    border: 1px solid rgb(0, 0, 0, 0.125);
}

/* Foto de arriba a la izquierda: filtro sepia, tamaño fondo, tamaño div, tiempo de animación*/

#miembro1 {
    grid-area: m1;
    filter: sepia(100%);
    background-size: 573px;
    height: 280px;
    width: 30vw;
    transition: 1s;
}

/* Rotación 360ºC al pasar ratón */

#miembro1:hover {
    transform: rotate(360deg);
}

/* Foto abajo a la izquierda: posición fondo, tamaño div, tiempo animación */

#miembro2 {
    grid-area: m2;
    background-position: top center;
    width: 30vw;
    height: 280px;
    transition: 1s;
}

/* Rotación vertical */

#miembro2:hover {
    transform: scaleY(-1);
}

/* Foto central: filtro borroso, tamaño div, tiempo animación */

#miembro3 {
    grid-area: m3;
    filter: blur(2px);
    width: 30vw;
    height: 575px;
    transition: 1s;
}

/* Rotación, escalado, enfoque de la foto */

#miembro3:hover {
    transform: rotate(25deg) scale(0.5);
    filter: blur(0);
}

/* Foto arriba a la derecha: posición y tamaño del fondo, filtro escala de grises, tamaño div, tiempo animación */

#miembro4 {
    grid-area: m4;
    background-position: -74px;
    background-size: 380px;
    filter: grayscale(100%);
    width: 15vw;
    height: 280px;
    transition: 1s;
}

/* Rotación horizontal */

#miembro4:hover {
    transform: scaleX(-1);
}

/* Foto abajo a la derecha: posición y tamaño fondo, filtro sepia, tamaño div, tiempo animación */

#miembro5 {
    grid-area: m5;
    background-position: -175px;
    background-size: 503px;
    filter: sepia(100%);
    width: 15vw;
    height: 280px;
    transition: 1S;
}

/* Movimiento y deformación hacia la izquierda  */

#miembro5:hover {
    transform: translate(-100px) skewX(20deg);
}

.size blockquote {
    font-size: 24px;
}

/* Imágenes de fondo */

.img1 {
    background-image: url(../img/equipo/andrewNishimura.jpg);
}

.img2 {
    background-image: url(../img/equipo/joeNishimura.jpg);
}

.img3 {
    background-image: url(../img/equipo/nakaneNishimura.jpg);
}

.img4 {
    background-image: url(../img/equipo/hichitoNishimura.jpg);
}

.img5 {
    background-image: url(../img/equipo/fredNishimura.jpg);
}

/* Tamaño y posición del fondo de los círculos */

#andrew {
    background-position: 210px 220px;
    background-size: 350px;
}

#hichito {
    background-position: 183px 315px;
    background-size: 426px;
}

#fred {
    background-position: 197px 245px;
    background-size: 445px;
}

#nakane {
    background-position: 220px 200px;
    background-size: 300px;
}

#joe {
    background-position: 230px 185px;
    background-size: 300px;
}

/* Margen de las fotos circulares */

.margen-foto {
    margin-left: 2.5rem;
}

/* Tamaño del div, forma circular, sombra interior, descripción animación, animación pausada */

.circulo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 15px 0;
    animation: bote 0.5s linear infinite;
    animation-play-state: paused;
}

/* Animación activada al pasar ratón */

.circulo:hover {
    animation-play-state: running;
}

/* Animación movimiento arriba y abajo */

@keyframes bote {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Tamaño de los divs de las citas */

.size {
    width: 1200px;
    width: 85%;
}

/* Margen de los divs de las cita */

.margin1 {
    margin-left: 3.5rem;
}

.margin2 {
    margin-right: 3.5rem;
}

/* Borde de las citas para el lado derecho */

.blueborder2 {
    border-right: 5px solid steelblue;
    padding: .125rem 2rem .125rem 3rem;
}

/*CARTA*/

/* Color y tamaño fuente de la lista de los platos: primero, segundo y postre */

.platos {
    color: crimson;
    font-size: 20px;
}

.platos ul li {
    color: black;
}

.carta {
    background-image: url(../img/carta/sushitoRestaurant.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 4rem 0;
    position: relative;
    border: 1px solid black;
    z-index: 2;
    padding: 7rem;
}

.carta::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
}

.carta li {
    list-style: none;
}

.carta .platos li {
    font-size: 17px;
    line-height: 60px;
}

.mw280 {
    min-width: 280px;
}

.carta ul {
    padding: 0;
    line-height: 50px;
}

/*LOCALIZACION*/

/* Tamaño y márgenes del div principal con mapa e información */

.localizacion {
    width: 1240px;
    margin: 8rem auto;
}

/* MAPA: Sombreado, redondeado bordes y tamaño del div */

.mapa {
    box-shadow: 0 0 10px 0;
    border-radius: 25px 245px;
    width: 445px;
    height: 445px;
}

/* CAJA DE INFORMACIÓN: borde, redondeado borde, tamaño fuente, padding y margen izquierdo para separar del mapa */

.informacion {
    border: 1px solid black;
    border-radius: 2rem;
    padding: 40px 35px 25px 35px;
    margin-left: 7rem;
}

/* Quitado bullet de la lista anidada */

.informacion ul ul {
    list-style: none;
}

/* Interlineado lista */

.espaciado {
    line-height: 30px;
}

/* color de letra y estilo párrafo de información */

.informacion p {
    color: gray;
    font-style: italic;
    font-size: 15px;
}

/* Márgenes de los encabezados h2 */

.margen2 {
    margin: 45px 0;
}

.margen3 {
    margin: 20px;
}

/* Quitado padding de las listas */

.informacion ul {
    padding: 0;
    font-size: 15px;
}

/* Caja de foto con scroll, igual que la de index */

.caja2 {
    background-image: url(../img/localizacion/fr2_sushitable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    background-attachment: fixed;
    border: 1px solid black;
    box-shadow: inset 0 0 30px 5px;
    margin-bottom: 7rem;
}