.container {
    display: grid;
    grid-template-areas: 'u d t' 'c ci s';
    height: 800px;
    width: 1200px;
}

.item {
    border: 1px solid black;
    background-image: url(../img/logoceed.png);
    background-repeat: no-repeat;
}

.uno {
    grid-area: u;
    background-position: left center;
}

.dos {
    grid-area: d;
    background-position: center center;
}

.tres {
    grid-area: t;
    background-position: right center;
}

.cuatro {
    grid-area: c;
    background-position: left bottom;
}

.cinco {
    grid-area: ci;
    background-position: bottom center;
}

.seis {
    grid-area: s;
    background-position: right bottom;
}