header, main, nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    float: right;
    width: 100px;
}

.column1 {
    width: 40%;
}

.column2 {
    width: 60%;
}

.right {
    text-align: right;
}

header, footer {
    background-color: rgb(75,75,75);
    color: white;
    height: 200px;
}

body {
    font-family: 'Gill Sans';
    height: 100%;
}

html {
    height: 100%;
}

header {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 4px solid white;
}

footer {
    border-radius: 0 0 1rem 1rem;
    border-top: 4px solid white;
}

nav {
    background-color: wheat;
}

ul {
    list-style: none;
    line-height: 1rem;
}

li {
    font-weight: bold;
    display: inline;
    margin: 1rem;
}

a:hover {
    color: orange; 
    box-shadow: 0 0 10px 0;
}

.salidas {
    background-color: lightgreen;
    border-right: 2px solid gray;
}

h2 {
    color: white;
    box-shadow: 0 0 10px 0;
}

.setas {
    background-color: rgb(235,192,235);
}

.sombra {
    box-shadow: 0 0 10px 0;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}