body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    line-height: 2em;
}

#blue {
    color: blue;
}

a {
    color: red;
}

#yellow {
    background-color: lightyellow;
}

mark {
    background-color: lightsalmon;
}