body {
    text-align: center;
    font-size: 30px;
}
header {
    background-color: TOMATO;
    padding: 20px;
    
}
nav {
    background-color: LIGHTGREEN;
    padding: 20px;
    float:left;
}
main {
    background-color: THISTLE;
    padding: 20px;
}
footer {
    background-color: NAVAJOWHITE;
    padding: 20px;
}