body {
    width: 1200px;
    margin: auto;
    color: white;
    background: black;
}

header, nav, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 80%;
    height: 100%;
    padding: 20px;
}

main {
    display: flex;
}

header, footer {
    background: lightslategray;
    text-align: center;
    height: 150px;
}

aside {
    width: 20%;
    height: 100%;
    padding: 20px;
    border-right: 4px solid lightseagreen;
    box-sizing: border-box;
}

nav {
    background: green;
}

li {
    display: inline-block;
    padding: 20px;
    text-decoration: underline;
}

a {
    color: #551A8B;
}

h2 {
    color: rgb(19, 189, 19);
}

.blue {
    background: lightblue;
}

.lightskyblue {
    background: lightskyblue;
    border-radius: .5rem;
    height: 60px;
}

li a {
    color: white;
}

li:hover {
    background: lightpink;
}

section p::first-letter {
    color: green;
    font-size: 2rem;
    font-family: 'Gill Sans';
}

section p::first-line {
    color: hotpink;
}