body {
    background: #EDECEC;
}

header, nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
}

header {
    background: linear-gradient(45deg, #B3BDC3, #8499A6, #6F8EA2, #51748B, #365E78);
    text-align: center;
    color: white;
    height: 200px;
}

nav {
    background: #5D6D7E;
    text-align: center;
    height: 100px;
}

li {
    display: inline-block;
    padding: 1rem;
}

li a {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
    margin: 1rem;
    font-weight: bold;
}

main {
    margin: 2rem;
}

#enlaces {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
}

div a {
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1rem;
    background: linear-gradient(to right, #740F0F, #932020, #A42F2F, #B23F3F, #A42F2F, #932020, #740F0F);
    border-radius: .5rem;
    color: #DBDBDB;
}

section {
    display: flex;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w50 {
    width: 50%;
}

.margin {
    margin: auto;
}

.oculto {
    display: none;
}

.oculto:target {
    display: block;
}

.centrado {
    text-align: center;
}

.container {
    display: flex;
    background: #8499A6;
    width: 400px;
    height: 400px;
}

.column {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.spacearound {
    justify-content: space-around;
}

.spacebetween {
    justify-content: space-between;
}

.aligstart {
    align-items: flex-start;
}

.alignend {
    align-items: flex-end;
}

.aligncenter {
    align-items: center;
}

.startcontent {
    align-content: flex-start;
    flex-wrap: wrap;
}

.endcontent {
    align-content: flex-end;
    flex-wrap: wrap;
}

.centercontent {
    align-content: center;
    flex-wrap: wrap;
}

.stretchcontent {
    align-content: stretch;
    flex-wrap: wrap;
}

.spacearoundcontent {
    align-content: space-around;
    flex-wrap: wrap;
}

.spacebetweencontent {
    align-content: space-between;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.uno {
    background: #808B96;
}

.dos {
    background: #566573;
}

.tres {
    background: #2C3E50;
}

.item-size {
    width: 70px;
    height: 70px;
}
