*, *::after, *::before {
    margin: 0;
}

body {
    color: white;
    font-size: 50px;
}

.grid {
    display: grid;
    grid-template-areas: 'header header header header header'
                         'nav nav nav nav nav'
                         'main main main aside aside'
                         'main main main aside aside'
                         'main main main aside aside'
                         'footer footer footer footer footer';
    grid-gap: 10px;
    height: 100vh;
}

header, nav, main, aside, footer {
    padding: 20px;
    text-align: center;    
    align-items: center;
    justify-content: center;
    display: flex;
}

header {
    background: cornflowerblue;
    grid-area: header;
}

nav {
    background: gainsboro;
    grid-area: nav;
    color: black;
}

main {
    background: crimson;
    grid-area: main;
}

aside {
    background: cornsilk;
    grid-area: aside;
    color: black;
}

footer {
    background: black;
    grid-area: footer;
}