img {
    width: 300px;
    border-radius: 1rem;
}

p {
    font-size: 2rem;
    font-weight: bold;
}

.rotate {
    transform: rotate(45deg);
}

.scale {
    transform: scale(0.75);
}

.skewX {
    transform: skewX(-45deg);
}

.skewY {
    transform: skewY(-20deg);
}

.translate {
    transform: translate(70px, 70px);
}
