

*{
  margin: 0px auto;
}

div.Contenedor{
width: 70%;
border:4px solid blue;
height: 700px;
}

div.Cabecera{
background-color: orange;
height: 150px;
}

div.Menu{
float: left;
background-color: olive;
height: 400px;
width: 15%;
}

div.Contenido{
background-color:lightskyblue;
width:70% ;
height: 400px;
float: left;
}

div.Contenido_p{
background-color:blue;
width: 74%;
float: left;
height: 100%;
}

div.Contenido_s{
background-color:silver;
width: 24%;
float: right;
height: 100%;
}

div.Lateral{
background-color:pink;
height: 400px;
width: 15%;
float: right;
}

div.Pie{
clear: both;
background-color: purple;
height: 150px;
width: 100%;
}

