/** CONTENEDOR PRINCIPAL EN FORMATO GRID **/
.grid{
    display: grid;   
    /* Áreas donde están establecidos el header, nav, main y footer*/ 
    grid-template-areas: 
    'h h h h'
    'n n n n'
    'm m m m'
    'm m m m'
    'm m m m'
    'f f f f';
    /** Separación de las secciones del grid **/
    grid-gap:10px;
    /** OJO, altura en vh!! **/
    height: 100vh;
}

/** ENCABEZADO **/
header{
    background-color: black;
    /** Le indicamos a que área pertenece **/
    grid-area: h;
}

header h1{
    color: white;
    font-size: 3em;
}

/** NAV **/
nav{
    background-color: black;
    grid-area: n;
  
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px;
    
}

nav ul li a{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    
}

/** MAIN **/
main{
    
    grid-area: m;
    /** El main también es un grid **/
    display: grid;
    /** Tiene dos columnas, una con una anchura del 25%, la otra con lo que queda hasta llegar a 100% **/
    grid-template-columns: 25% auto;
    /** Separación de los elementos del grid */
    grid-gap:10px;
}

aside{
    background-color: black;
    color: white;
    /** El aside empezará en el line1 hasta el line2 **/
    grid-column: 1/2;
}

aside h2{
    font-size: 5em;
    transform: rotate(-90deg);
}

section{
    background-image: url(../img/concierto.jpg);
    background-repeat: none;
    background-position: center 90%;
    /** El section empezará en el line2 hasta el line3**/
    grid-column: 2/3;
    /** El section también es un grid **/
    display: grid;
    /** Tendremos dos columnas que ocupan una fracción cada uno, es como si pusiéramos 50% 50% **/
    grid-template-columns: 1fr 1fr;
    /** Tendremos 3 filas, la primera y la última ocupan una fracción, la segunda 2, sería similar a: 25% 50% 25% **/
    grid-template-rows: 1fr 2fr 1fr;
}

/** LISTADO DE CONCIERTOS **/
#conciertos{
    /** El div de conciertos los posicionamos en una determinada fila y columna en este caso en la segunda fila, segunda columna **/
    /** Estará en la fila que empieza en la line2 y acaba en la line3 **/
    grid-row: 2/3;
    /** Estará en la columna que empieza en la line2 y acaba en la line3 **/
    grid-column: 2/3;
    color: white;
}

#conciertos h2{
    font-size: 3em;
}

#conciertos ul li{
    color: yellow;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#conciertos ul li span{
    color: greenyellow;   
    font-weight: 900;
    
}


/** FOOTER **/
footer{
    background-color: black;
    grid-area: f;
    color:white;
}


/** CLASS HECHA CON FLEX PARA EL CENTRADO ABSOLUTO **/
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



