body {
    width: 300px;
    margin: auto;
    margin-top: 200px;
}

img {
    width: 100px;
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.125);
    padding: 1rem;
}

.center {
    text-align: center;
}

button {
    width: 100%;
    border-radius: 1rem;
    font-weight: bold;
    padding: .5rem;
}

.button-submit {
    background-color: blue;
    color: white;
    border: 1px solid blue;
}

.button-cuenta {
    border: 1px solid blue;
}

.button-google {
    border: 1px solid rgb(0, 0, 0, 0.125);
}

.a-google {
    color: black;
}

.checkbox {
    color: blue;
}

.margin {
    margin: 1rem;
}

.title {
    margin: 2rem;
}

a {
    text-decoration: none;
}

.input-login {
    outline: 0;
    border-width: 0 0 1px;
    width: 100%;
}

p {
    margin: .5rem;
}

h1 {
    margin-bottom: 0;
}